extends ../components/base/layout

block variables
  - const title = "WOMAZING" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header__container"
  - const hasFooter = true
  - const footerMods = "footer__container"
  - const name = "contacts"
  - const currentUrl = "contacts.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const typesOfClothing = ["Пальто", "Свитшоты", "Футболки", "Платья"]

block main
  main
    +contact()
    +contacts-form()

block modals
  +modal-success-contacts()
