mixin advantages()
  section.advantages
    .container.advantages__container
      h2.advantages__title Что для нас важно
      ul.advantages__list
        li.advantages__item.advantages__item--quality
          h3.advantages__item-title Качество
          p.advantages__text
           | Наши профессионалы работают на&nbsp;лучшем
           | оборудовании для пошива одежды беспрецедентного качества
        li.advantages__item.advantages__item--speed
          h3.advantages__item-title Скорость
          p.advantages__text
           | Благодаря отлаженной системе в&nbsp;Womazing
           | мы&nbsp;можем отшивать до&nbsp;20-ти единиц
           | продукции в&nbsp;наших собственных цехах
        li.advantages__item.advantages__item--responsibility
          h3.advantages__item-title Ответственность
          p.advantages__text
           | Мы&nbsp;заботимся о&nbsp;людях и&nbsp;планете.
           | Безотходное производство и&nbsp;комфортные условия
           | труда&nbsp;&mdash; все это Womazing
