mixin contacts-form()
  section.contacts-form
    .container.contacts-form__container
      h3 Напишите нам
      .contacts-form__wrapper(data-form-validate, data-callback="contacts")
        form.contacts-form__form(action="https://echo.htmlacademy.ru", method="post")
          .contacts-form__name(data-required, data-limitation="cyrillic", data-validate-type="text", data-message-base="Поле обязательно к заполнению")
            label(for="name")
            input(type="text", id="name", name="name", placeholder="Имя", required)
          .contacts-form__email(data-required, data-validate-type="email", data-message-base="Поле обязательно к заполнению")
            label(for="e-mail")
            input(type="email", id="e-mail", name="e-mail", placeholder="E-mail", required)
          .contacts-form__tel(data-required, data-validate-type="phone", data-message-base="Поле обязательно к заполнению")
            label(for="tel")
            input(type="tel", id="tel", name="tel", placeholder="Телефон", required)
          textarea(name="messang", cols="30", rows="10", placeholder="Сообщение")
          .contacts-form__checkbox(data-required, data-validate-type="checkbox", data-message-base="Необходимо Ваше согласие!")
            input(type="checkbox" name="consentToDataProcessing" id="contacts-consent", required)
            label(for="contacts-consent") Я согласен на обработку моих персональных данных
          button.contacts-form__button(type="submit", aria-label="Отправить cообщение") Отправить
