mixin contact()
  section.contact
    .container.contact__container
      h2 Контакты
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.054019370537!2d37.52989311560455!3d55.68804858053612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54cf681cd88db%3A0x2a3fadda3df86f1b!2z0YPQuy4g0KHRgtGA0L7QuNGC0LXQu9C10LksIDI1LCDQnNC-0YHQutCy0LAsIDExOTMxMQ!5e0!3m2!1sru!2sru!4v1676438995190!5m2!1sru!2sru", width="800", height="600", style="border:0;", allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade")
      .contact__wrapper
        div
          span.contact__text Телефон
          a.contact__link(href = "tel:+74958235412", aria-label="телефон для связи с магазином Womazing") +7 (495) 823-54-12
        div
          span.contact__text E-mail
          a.contact__link(href = "mailto:info@sitename.com", aria-label="электронная почта для связи с магазином Womazing") info@sitename.com
        div
          span.contact__text Адрес
          address.contact__link(aria-label="адрес, по которому находится магазин Womazing") г. Москва, 3-я улица Строителей, 25
