mixin main()
  section.main
    .container.main__container
      .main__wrap.swiper
        ul.main__list.swiper-wrapper
          li.main__item.swiper-slide
            .main__item-wrap
              h2 Новые поступления в&nbsp;этом сезоне
              p Утонченные сочетания и&nbsp;бархатные оттенки&nbsp;&mdash; вот&nbsp;то, что вы&nbsp;искали в&nbsp;этом сезоне. Время исследовать.
              .main__button
                a.main__button-scroll(href = "#collection")
                a.main__button-open-mag(href = "shop.html") Открыть магазин
            .main__wrap-img
              +picture("content", "main-foto-big", "jpg", 410, 646, "девушка в плаще")
          li.main__item.swiper-slide
            .main__item-wrap
              h2 Что-то новенькое. Мы&nbsp;заждались тебя.
              p Надоело искать себя в&nbsp;сером городе? Настало время новых идей, свежих красок и&nbsp;вдохновения с&nbsp;Womazing!
              .main__button
                a.main__button-scroll(href = "#collection")
                a.main__button-open-mag(href = "shop.html") Открыть магазин
            .main__wrap-img
              +picture("content", "main-foto-big2", "jpg", 410, 646, "девушка в плаще")
          li.main__item.swiper-slide
            .main__item-wrap
              h2 Включай новый сезон с&nbsp;WOMAZING
              p Утонченные сочетания и&nbsp;бархатные оттенки&nbsp;&mdash; вот&nbsp;то, что вы&nbsp;искали в&nbsp;этом сезоне. Время исследовать.
              .main__button
                a.main__button-scroll(href = "#collection")
                a.main__button-open-mag(href = "shop.html") Открыть магазин
            .main__wrap-img
              +picture("content", "main-foto-big3", "jpg", 410, 646, "девушка в плаще")
        .main__pagination.swiper-pagination
