mixin nav()
  nav.main-nav&attributes(attributes)
        ul.main-nav__list
          li.main-nav__item
            a.main-nav__link(href = "index.html") Главная
          li.main-nav__item.main-nav__item--sublist
            a.main-nav__link.main-nav__link--sublist(href = "shop.html") Магазин
            ul.main-nav__sublist
              each one in typesOfClothing
                li.main-nav__subitem
                  a.main-nav__sublink(href = "#")=one
          li.main-nav__item
            a.main-nav__link(href = "about.html") О бренде
          li.main-nav__item
            a.main-nav__link(href = "contacts.html") Контакты
