mixin collection()
  section.collection(id = "collection")
    .container.collection__container
      h2 Новая коллекция
      ul.collection__list
        li.collection__item
          .collection__wrap
            a.collection__link-img(href = "card-thing-t-shirtUSA.html")
            +picture("content", "collection-1", "jpg", 350, 478, "девушка в футболке")
          h3 Футболка USA
          span $129
        li.collection__item
          .collection__wrap
            a.collection__link-img(href = "card-thing-swimsuit.html")
            +picture("content", "collection-2", "jpg", 350, 478, "девушка в купальнике")
          h3 Купальник Glow
          span $129
        li.collection__item
          .collection__wrap
            a.collection__link-img(href = "card-thing-SweetShot.html")
            +picture("content", "collection-3", "jpg", 350, 478, "девушка в свитшоте")
          h3 Свитшот Sweet Shot
          span $129
      a.collection__link(href = "shop.html") Открыть магазин
