mixin orderSuccess()
  section.order-success
    .container.order-success__container
      h2 Заказ получен
      .order-success__wrapper
        .order-success__wrapper-ok
          p Заказ успешно оформлен
          span Мы свяжемся с вами в ближайшее время!
        a.order-success__button(href="index.html", aria-label="Перейти на главную страницу") Перейти на главную
