.advantages {
  width: 100%;
}

.advantages__container {
  padding-top: 3rem;
  padding-bottom: 2rem;

  @include vp-767 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.advantages__container h2 {
  @include title;

  margin: 0 0 5.75rem;

  @include vp-767 {
    margin: 0 0 2rem;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4.69rem;

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.advantages__item {
  padding-top: 6.25rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100%;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  @include vp-767 {
    padding-top: 2.6rem;
  }
}

.advantages__item--quality {
  &::before {
    background-image: url("../img/svg/adv-quality.svg");
  }
}

.advantages__item--speed {
  &::before {
    background-image: url("../img/svg/adv-speed.svg");
  }
}

.advantages__item--responsibility {
  &::before {
    background-image: url("../img/svg/adv-responsibility.svg");
  }
}

.advantages__item h3 {
  @include subtitle;

  margin: 0 0 1.5rem;

  @include vp-767 {
    margin: 0 0 0.5rem;
  }
}

.advantages__item p {
  margin: 0;

  @include vp-767 {
    font-size: 0.88em;
  }
}
