mixin logo(options = {})
  - const tag = options.href ? "a" : "span";
  - const aria = options.href ? "Переход на главную страницу" : false;
  - const href = options.href || false;

  #{tag}.logo(href=href, aria-label=aria)&attributes(attributes)
    img.logo__img(src="img/svg/logo.svg", alt="логотип", width=139, height=25)

