.container {
  width: 100%;
  max-width: 2600px;
  margin: 0 auto;
  padding: 0 17rem;

  @include vp-1919 {
    padding-left: 15.31rem;
    padding-right: 15.31rem;
  }

  @include vp-1023 {
    padding: 0 30px;
  }

  @include vp-767 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  &--no-padding {
    @include vp-767 {
      padding: 0;
    }
  }
}
