mixin header(headerMods, currentUrl)
  header.header
    .container(class=headerMods)
      if(currentUrl === "index.html")
        +logo().header__logo
      else
        +logo({href: "index.html"}).header__logo
      nav.header__nav.main-nav
        ul.main-nav__list
          li.main-nav__item
            a.main-nav__link(href = "index.html") Главная
          li.main-nav__item
            a.main-nav__link(href = "shop.html") Магазин
          li.main-nav__item
            a.main-nav__link(href = "about.html") О бренде
          li.main-nav__item
            a.main-nav__link(href = "contacts.html") Контакты
      .header__wrapper
        a.header__tel(href = "tel:+74958235412") +7 (495) 823-54-12
        a.header__basket(href = "basket.html", aria-label = "корзина")
