doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='preload', href='fonts/Raleway-Regular.woff', as='font')
    link(rel='preload', href='fonts/Raleway-Regular.woff2', as='font')
    link(rel='preload', href='fonts/Raleway-Medium.woff', as='font')
    link(rel='preload', href='fonts/Raleway-Medium.woff2', as='font')
    link(rel='preload', href='fonts/Raleway-Bold.woff', as='font')
    link(rel='preload', href='fonts/Raleway-Bold.woff2', as='font')
    link(rel='stylesheet', href='css/style.min.css')

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl, name)

      block main

      if (hasFooter)
        +footer(footerMods, name)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
    if pageJs
      script(src=pageJs)
