@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-2599 {
  @media (max-width: ($vp-2600 - 0.06em)) {
    @content;
  }
}

@mixin vp-2099 {
  @media (max-width: ($vp-2100 - 0.06em)) {
    @content;
  }
}

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 0.06em)) {
    @content;
  }
}

@mixin vp-1599 {
  @media (max-width: ($vp-1600 - 0.06em)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 0.06em)) {
    @content;
  }
}

@mixin vp-1366 {
  @media (max-width: ($vp-1366 - 0.06em)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 0.06em)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 0.06em)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 0.06em)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 0.06em)) {
    @content;
  }
}

@mixin vp-320 {
  @media (max-width: ($vp-320 - 0.06em)) {
    @content;
  }
}

// fonts

@mixin Raleway400 {
  font-family: $ff-raleway;
  font-style: normal;
  font-weight: 400;
}

@mixin Raleway500 {
  font-family: $ff-raleway;
  font-style: normal;
  font-weight: 500;
}

@mixin Raleway700 {
  font-family: $ff-raleway;
  font-style: normal;
  font-weight: 700;
}

//all things

@mixin title {
  @include Raleway500;
  font-size: 2.5em;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: black;
}

@mixin subtitle {
  @include Raleway500;
  font-size: 1.56em;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: black;
}


// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
