mixin modal-success()
  .modal(data-modal="modal-2", id="modal-2")
    .modal__overlay(data-close-modal)
    .modal__success
      span.modal__text Отлично! Мы скоро вам перезвоним.
      button.form___submit(type="button", data-close-modal) Закрыть
