mixin modal-success-contacts()
  .modal(data-modal="modal-3", id="modal-3")
    .modal__overlay(data-close-modal)
    .modal__succes
      span.modal__text Сообщение успешно отправлено
      button.form___submit(type="button", data-close-modal) Закрыть
